.province-count {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #002242;
  background-color: #010329;
  background-image: linear-gradient(to right, #080c1f, #23303a, #213444, #23303a, #080c1f, );
  background-image: linear-gradient(to right, #080c1f, #213444, #080c1f, );
  color: #fff;


  .content {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
  }

  .rows {
    display: flex;
    flex-direction: column;
  }

  .cols {
    display: flex;
    flex-direction: row;
  }

  .row-0 {
    flex: 0;
  }

  .row-1 {
    flex: 1;
  }

  .row-2 {
    flex: 2;
  }

  .row-3 {
    flex: 3;
  }

  .row-4 {
    flex: 4;
  }

  .row-5 {
    flex: 5;
  }

  .row-6 {
    flex: 6;
  }

  .row-7 {
    flex: 7;
  }

  .row-8 {
    flex: 8;
  }

  .col-0 {
    flex: 0;
  }

  .col-1 {
    flex: 1;
  }

  .col-2 {
    flex: 2;
  }

  .col-3 {
    flex: 3;
  }

  .col-4 {
    flex: 4;
  }

  .col-5 {
    flex: 5;
  }

  .col-6 {
    flex: 6;
  }

  .col-7 {
    flex: 7;
  }

  .col-8 {
    flex: 8;
  }


  .top-nav {
    height: 50px;
    line-height: 62px;
    // border-bottom: 1px solid #fff;
    text-align: center;
    font-size: 40px;
    font-weight: 200;
    letter-spacing: 6px;
    font-family: 'font5';
  }
  .total-numbers {
    justify-content: space-around;
    padding: 0 60px;
    margin-top: 0px;
position: relative;
z-index: 100;
    
    .number {
      font-size: 24px;
      font-family: 'font2';
      // font-style: italic;
      line-height: 20px;
      margin-top: 25px;

      span {
        font-size: 15px;
        margin-left: 2px;
        color:#ffffff99;
      }
    }

    .text {
      font-size: 13px;
      font-family: 'font4';
      line-height: 18px;
        color:#ffffff99;
        // font-weight: 200;
    }
  }
}