.subway-module {
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: relative;

  #subway-map {
    height: 100%;
    position: relative;
  }

  .address,
  .line {
    position: absolute;
    width: 230px;
    height: max-content;
    background-color: rgb(255, 255, 255);
    z-index: 500;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 30px;
    // box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(141, 141, 141, 0.3) 0px 7px 13px -5px;
    transition: .5s;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border-radius: 12px;

    &:hover {
      opacity: 1;
    }

    .address_default,
    .line_default {
      width: 100%;
      height: 60px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      position: relative;
      text-align: center;

      span {
        display: inline-block;
        border-radius: 12px;
        line-height: 35px;
        // padding: 0px 20px;
        font-size: 20px;
        text-align: center;
        cursor: pointer;
        color: rgb(51, 51, 51);
        // margin: 0 auto;
      }

      img {
        width: 20px;
        // float: right;
        position: absolute;
        right: 30px;
        margin-top: 3px;
      }

      &::after {
        content: '';
        display: block;
        position: absolute;
        bottom: -5px;
        left: 5%;
        height: 2px;
        width: 90%;
        border: 1px solid rgb(235, 235, 235);
        border-left: none;
        border-right: none;
      }
    }

    ul {
      flex: 1;
      overflow-y: scroll;
      transition: .2s ease;
      margin-top: 5px;


      &::-webkit-scrollbar {
        width: 5px;
      }

      &::-webkit-scrollbar-thumb {
        background: #d8d8d8;
        border-radius: 10px;
      }

      &::-webkit-scrollbar-track-piece {
        background: transparent;
      }
    }

    li {
      margin: 0 auto;
      margin-top: -30px;
      border-radius: 8px;
      width: 86.5%;
      height: 40px;
      line-height: 40px;
      padding-left: 50px;
      box-sizing: border-box;
      cursor: pointer;
      // text-align: center;
      transition: .75s;
      // font-style: italic;
      font-weight: 200;
      font-size: 18px;
      overflow: hidden;
      position: relative;
      border-bottom: 1px solid rgb(233, 233, 233);
      // border-top: 0px solid rgb(233, 233, 233);
      // border-left: 3px solid rgb(233, 233, 233);
      // border-right: 3px solid rgb(233, 233, 233);

      span.color {
        display: inline-block;
        width: 30px;
        height: 10px;
        position: absolute;
        top: 50%;
        left: 12px;
        transform: translateY(-50%);
      }
    }

    li:hover {
      // background-color: #01a2e225;
      // background-color: #f8f8f8;
      font-size: 20px;
      transition: .3s;
    }

    .bg {
      font-style: normal;
      // background-color: #c7f3ed85;
      // background-color: #f0f0f0;
      font-size: 20px;
      font-weight: 500;
      line-height: 36px;
      // border: 1px solid rgb(0, 181, 194);
      border: none;
      box-shadow: rgba(136, 136, 136, 0.4) 0px 2px 1px, rgba(0, 0, 0, 0.3) 0px 7px 13px -10px, rgba(0, 0, 0, 0.2) 0px -2px 0px inset;
    
    }


    // &.action_width {
    //   height: 50px;
    //   overflow: hidden;
    // }
  }


  .address {
    left: 5%;
    top: 5%;
    height: calc(85% - 60px);
    ul li {
      text-align: center;
      padding-left: 0;
    }
  }

  .line {
    left: 5%;
    top: calc(95% - 60px);
  }

}

.subway-module.show-address {
  .address {
    height: calc(87.5% - 60px);


    ul li {
      margin-top: 10px;
      transition: .4s;
    }
  }

  .line {
    height: 60px;

    ul {
      margin-top: 0;
    }
  }
}

.subway-module.show-line {
  .address {
    height: 60px;
    ul {
      margin-top: 0;
    }
  }

  .line {
    height: calc(87.5% - 60px);
    top: calc(7.5% + 60px);

    ul li {
      margin-top: 10px;
      transition: .4s;
    }
  }
}

.subway-module.show-none {
  .address {
    height: 60px;
    ul {
      margin-top: 0;
    }
  }

  .line {
    height: 60px;
    top: calc(7.5% + 60px);
    ul {
      margin-top: 0;
    }
  }

}