.transport-count {
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #002242;
  color: #fff;

  .top-nav {
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #fff;
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 6px;
  }

  .content {
    flex: 1;
  }
  .rows {
    display: flex;
    flex-direction: column;
  }
  .cols {
    display: flex;
    flex-direction: row;
  }
  .row {
    flex:1;
    border: 1px solid #fff;
  }
  .col {
    flex:1;
    border: 1px solid #fff;
  }
  .row-1 {
    flex:1;
  }
  .row-2 {
    flex:2;
  }
  .row-3 {
    flex:3;
  }
  .row-4 {
    flex:4;
  }
  .row-5 {
    flex:4;
  }
  .row-6 {
    flex:4;
  }
  .row-7 {
    flex:4;
  }
  .row-8 {
    flex:4;
  }

  .col-1 {
    flex:1;
  }
  .col-2 {
    flex:2;
  }
  .col-3 {
    flex:3;
  }
  .col-4 {
    flex:4;
  }
  .col-5 {
    flex:4;
  }
  .col-6 {
    flex:4;
  }
  .col-7 {
    flex:4;
  }
  .col-8 {
    flex:4;
  }
}