.submodule-entry {
  width: 270px;
  height: 270px;
  /* border: 1px solid red; */
  position: absolute;
  left: 50px;
  top: 50px;
  z-index: 350;

  .media {
    width: 155px;
    height: 155px;
    padding: 25px;
    box-sizing: border-box;
    margin: 0 auto;
    opacity: 0;
    transition: 0.25s all;
    transition-delay: 0.5s;
    /* border: 1px solid red; */
    position: relative;
    z-index: 150;
    background: #ffffffef;
    backdrop-filter: blur(2px);
    border-radius: 30px;
  }



  img {
    width: 100%;
    height: 100%;
    transform: translate(0px, -50%);
    position: relative;
    top: 50%;
    display: block;
    position: relative;
    margin: 0 auto;
  }

  .tips {
    position: absolute;
    right: -33px;
    top: 8px;
    width: 45px;
    height: 20px;
    opacity: 0;
    transition: .25s all;
    transition-delay: .25s;

    .intro {
      position: absolute;
      left: 57px;
      top: 2px;
      width: 250px;
      // border-left: 2px solid #fff;
      padding: 3px;
      padding-left: 7px;
      background: linear-gradient(to right, #fffffff6, #ffffffaf, #ffffff81, #ffffff49,#ffffff21,#ffffff00, );

      &::before {
        content: "";
        display: block;
        width: 3px;
        height: 100%;
        position: absolute;
        left: -6px;
        top: 0;
        background-color: rgba(255, 255, 255, 0.911);
      }

      .submodule-name {
        font-size: 18px;
        font-weight: 500;
      }

      .detail-intro {
        font-size: 14px;
        font-weight: 300;
        margin-top: 3px;
        letter-spacing: 0.5px;
        line-height: 18px;
      }

      .hint {
        font-size: 15px;
        font-weight: 500;
        margin-top: 3px;
        letter-spacing: 0.5px;
        line-height: 18px;
        font-style: italic;
        margin-top: 18px;
        color: rgba(255, 0, 0, 0.815);

        .border {
        font-size: 14px;
        font-style: normal;
          display: inline-block;
          padding: 3px;
          padding-top: 4PX;
          color: #000;
          border: 1px solid rgb(255, 0, 0);
          border-radius: 4px;
          line-height: 10px;
          margin-right: 2px;
        }

      }
    }

    .guide-line {
      position: absolute;
      left: 0px;
      top: 0px;
      width: 45px;
      height: 20px;

      .line {
        width: 33px;
        height: 15px;
        border-top: 1px solid rgb(255, 255, 255);
        border-left: 1.5px solid rgb(255, 255, 255);
        transform: skewX(-49deg);
        position: absolute;
        left: 10px;
        bottom: 2px;
      }

      .point {
        width: 3px;
        height: 3px;
        border: 1px solid rgb(255, 255, 255);
        border-radius: 50%;
        position: absolute;
        left: 0;
        bottom: 0;
        background: rgba(255, 255, 255, 0);
      }
    }
  }

  .light {
    width: 5px;
    height: 39.5px;
    background: linear-gradient(to top, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, rgb(255 255 255 / 86%), rgba(255, 255, 255, 0));
    margin: 0 auto;
    z-index: 100;
    position: relative;
    margin-top: 63px;
    transition: 0.25s all;
    transition-delay: 0.75s;
    transform: perspective(20px) rotateX(-80deg);
    opacity: 0;
  }

  .phone {
    width: 36px;
    height: 36px;
    margin: 0 auto;
    margin-top: -36px;
    position: relative;
  }

  .phone img {
    width: 100%;
    height: 100%;
    display: block;
  }

  @keyframes borderFly {
    0% {
      top: 9.5px;
      opacity: 1;
    }

    50% {
      opacity: .7;
    }

    100% {
      top: -5px;
      opacity: 0;
    }
  }

  @keyframes screenLight {
    0% {
      background-color: rgba(255, 255, 255, 0);
    }

    50% {
      background-color: rgb(255, 255, 255);
    }

    100% {
      background-color: rgba(255, 255, 255, 0);
    }
  }

  .phone::after,
  .phone::before {
    content: "";
    display: block;
    width: 24px;
    height: 12px;
    border: 2px solid #fff;
    background-color: rgba(255, 255, 255, 0);
    position: absolute;
    transition: 0.25s all;
    left: 4px;
    top: 9px;
    transform: rotateX(55deg) rotateZ(-45deg);
    transition-delay: 1s;
    animation: screenLight 5s infinite;
    animation-delay: 3s;
  }

  .phone::before {
    transform: rotateX(55deg) rotateZ(-45deg);
    animation: borderFly 1s infinite;
    z-index: 10;
  }
}

.submodule-entry.active {
  .light {
    opacity: 1;
    transition: .3s ease-in;
    transition-delay: .5s;
  }

  .media {
    opacity: 1;
    transition: .3s ease-in;
    transition-delay: 1s;
  }

  .media .tips {
    opacity: 1;
    transition: .5s ease-out;
    transition-delay: 1.5s;
  }

  .phone::after {
    transition: .5s all;
    background-color: rgb(255, 255, 255);
    animation: none;
  }

  .phone::before {
    animation: none;
  }
}

.submodule-entry.reserve {
  transform: rotateY(180deg);

  .phone {
    transform: rotateY(180deg);
  }
}